.card {
  width: 30%;
}
.card-content-wrapper {
  padding: 10px;
}

.new-product {
  background-color: gold;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
}

.in-stock-product {
  background-color: palegreen;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
}

.in-sale-product {
  background-color: palevioletred;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
}
.price {
  border: 1px solid lightgrey;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}
