.goods-wrapper {
  margin-top: 20px;
}

.goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.goods-goods {
  justify-content: center;
}

.good-img {
  width: 100%;
  padding-top: 10px;
}
